Pillow==11.2.1
Django==5.2.6
django-cors-headers==4.9.0
django-messages==0.6.0
django-otp==1.7.0
django-slugfield==0.9
pyotp==2.9.0
gunicorn==21.2.0
python-dotenv==1.0.1
twilio==9.0.0
psycopg2-binary
