* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* BACKGROUND */
.login-body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINER */
.login-container {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    padding: 40px;
    border-radius: 15px;
    width: 100%;
    max-width: 380px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.2);
    color: white;
    text-align: center;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    -webkit-background-clip: text;
    /* background-clip: text; */
}

/* TITLE */
.login-container h2 {
    margin-bottom: 20px;
}

/* INPUTS */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
    outline: none;
}

/* BUTTON */
.login-btn {
    width: 100%;
    padding: 12px;
    border: none;
    background: white;
    color: #4facfe;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.login-btn:hover {
    background: #222;
    color: white;
}

/* GOOGLE BUTTON */
.google-btn {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #fff;
    color: #444;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

.google-btn:hover {
    background: #f1f1f1;
}

/* LINKS */
.links {
    margin-top: 15px;
    font-size: 14px;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.links a:hover {
    text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 480px) {
    .login-container {
        margin: 20px;
        padding: 30px;
    }
}
.extra-links {
    margin-top: 10px;
    text-align: right;
}

.extra-links a {
    font-size: 13px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.extra-links a:hover {
    text-decoration: underline;
    color: #222;
}